:root{
	font-size: 100%;
	--banner-size: 11em;
}

header{
	text-align: center;
}
section{
	padding-top: var(--banner-size);
}
#banner{
	position: fixed;
	background: maroon;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	min-height: var(--banner-size);
}
